* {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
}

.body-content {
  background-color: #C2C2C2;
}

header, .nav, .nav-item {
  font-size: 28px;

}

.main-content {
  min-height: 900px;
  background-color: #FFFFFF;
}

header, .nav, .nav-item, footer, footer div, footer p {
  background-color: #0E5856;
  color: #FFFFFF;
}

.footer-imgs {
  height: 30px;
}

#map {
  width: 100%;
  height: 600px;
  background-color: grey;
}

.input-field {
  width: 100%;
}

#start_point, #end_point {
  width: 60%;
}